body{
margin: 0%;
padding: 0%;
font-family: vicente;
background-color: rgb(162, 202, 223);
}

.Formulario{
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 575px;
}

.Formulario input{
    position: relative;
    width: 280px;
}
.Formulario h1{
    text-align: left;
}