<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/update/{{user.uid}}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Update Details</h3>
            </p>
        </div>
        <div>
            <p>Usuario ID:</p>
            <div>
                <input type="text" name="uid" value="{{usuario.uid}}">
            </div>
        </div>
        <div>
            <p>Usuario Name:</p>
            <div>
                <input type="text" name="uname" value="{{usuario.uname}}">
            </div>
        </div>
        <div>
            <p>Usuario Email:</p>
            <div>
                <input type="text" name="email" value="{{usuario.email}}">
            </div>
        </div>
        <div>
            <p>Usuario Contact:</p>
            <div>
                <input type="text" name="ucontact" value="{{usuario.ucontact}}">
            </div>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</body>
</html>