<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo2.css' %}" />
  </head>
  <body>
    <section class="container">
      <header>Registro</header>
      <form class="form" id="form" method="post" novalidate>
        <div class="input-box">
          <label>Nombre completo</label>
          <input type="text" placeholder="Nombre completo"  id="nomcompleto" />
        </div>

        <div class="input-box">
          <label>Correo electronico</label>
          <input type="text" placeholder="Correo electronico" id="email"/>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Numero de teléfono</label>
            <input type="tel" placeholder="944332288" id="telefono"/>
          </div>
          <div class="input-box">
            <label>Fecha de nacimiento</label>
            <input type="date" placeholder="Enter birth date"  id="date"/>
          </div>
        </div>
        <div class="gender-box" id="genero">
          <h3>Genero</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Hombre</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Mujer</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">Prefiero no decirlo</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label>Direccion</label>
          <input type="text" placeholder="Dirección" id="direccion"/>
          
          <div class="column">
            <div class="select-box">
              <select class="region" id="region">
                <option hidden>Región</option>
                <option>Región metropolitana</option>
                <option>Bio bio</option>
                <option>Valparaiso</option>
                <option>Los rios</option>
                <option>Los lagos</option>
                <option>Maule</option>
                <option>Ñuble</option>
              </select>
            </div>
            <input type="text" placeholder="Comuna" id="comuna"/>
          </div>
          <br>
          <div class="column">
           </div>
           <div class="input-password">
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" id="password1" />
          </div>
          <br>
          <div class="input-confirmpassword">
            <label>Confirmar contraseña</label>
            <input type="password" placeholder="Confirmar contraseña" id="password2" />
          </div>
        </div>
        <button class="registro" id="registro">Registrarse</button>
        <br>
        <p id="mensajeError">Olvidaste la contraseña</p>
      </form>
    </section>
    <script src="{% static 'js/Registro.js' %}"></script>
  </body>
</html>