body{
}

.atencioncliente{
    text-align: center;
    position: absolute;
    left: 19%;
    top: 130%;
}

.Redes{
    text-align: center;
    position: absolute;
    right: 10%;
    left: 10%;
    top: 130%;
}

.centroayuda{
    text-align: center;
    position: absolute;
    right: 27%;
    top: 130%;
}

.simbolos{
    text-align: center;
    position: absolute;
    top: 130%;
    right: 7%;
}

.tarjetas{
    text-align: center;
    position: absolute;
    right: 4%;
    top: 140%;
}

.derechos{
    background-color: rgb(162, 202, 223);
}