body{
margin: 0%;
padding: 0%;
font-family: vicente;
background-color: rgb(162, 202, 223);
}

.Formulario{
    position: absolute;
    top: 60%;
    left: 57%;
    transform: translate(-55%, -50%);
    width: 380px;
    height: 800px;   
}

.Formulario img{
    border: 1px solid;
    border-radius: 40px;
}

.Formulario input{
    position: relative;
    width: 280px;
    height: 33px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
}

.Formulario h1{
    text-align: left;
    justify-content: center;
}

.Formulario a{
    display: block;
    font-weight: 700;
    background-color: #fff;
    color: rgb(162, 202, 223);
    padding: 6px 5px;
    text-align: center;
    width: 285px;
    border-radius: 30px;
}

.btn-field{
    width: 100%;
    display: flex;
}

.btn-field button{
    flex-basis: 75%;
    border: 0;
    height: 33px;
    color: rgb(162, 202, 223);;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
}

p{
    background-color: #fff;
    width: 285px;
    border-radius: 40px; 
}
















